modules = ["python-3.12", "bash"]
run = "python main.py"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python main.py"]

[[ports]]
localPort = 8001
externalPort = 80
exposeLocalhost = true
